*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: #222;
  color: var(--light-color);
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

body.fixed {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

p {
  font-size: 1.125rem;
  line-height: 1.8125rem;
  color: var(--light-color);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px !important;
}

.card {
  background: var(--light-color);
  border-radius: var(--border-radius);
  padding: 30px 40px;
}

.title {
  color: var(--text-color);
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  pointer-events: none;
  font-weight: 400;
}

.m-y-5 {
  margin: 80px 0 80px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.link {
  background: unset;
  border: unset;
  font-family: 'Open Sans';
  font-size: 16px;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

.primary {
  background: var(--primary-color);
}
.secondary {
  background: var(--secondary-color);
}
.additional {
  background: var(--additional-color);
}
